006_-_Labs_-_Low_Code/n8n/Gammaxon Runner.json
{
  "name": "Gammaxon Runner",
  "nodes": [
    {
      "parameters": {
        "url": "https://app.gammaxon.io/api/runners",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "9a0a4d48-3188-41c5-9270-28bba8a8deb7",
      "name": "List Runners (HTTP Request)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GaGG53OukWPdx2Cq",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "d2542c4a-c38f-4f53-a2b5-6665da82b923",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fffff171-5919-42f7-a47a-56e7f6a14ff6",
              "leftValue": "={{ $json.title }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.title }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "28fc4021-aba8-4914-a682-217bd846be6c",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "=https://app.gammaxon.io/api/runners/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        0
      ],
      "id": "9ab8e163-0505-488b-92f6-84c7fbc62c7d",
      "name": "Get Runner Inputs (HTTP Request)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GaGG53OukWPdx2Cq",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.gammaxon.io/api/runners/{{ $json.id }}/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{ $json.fields[0].name }}",
              "value": "={{ $('When Executed by Another Workflow').item.json.target_ip }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        0
      ],
      "id": "d354dbf1-08b2-4c45-b648-7a283e1c27b5",
      "name": "Run The Runner (HTTP Request)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GaGG53OukWPdx2Cq",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://app.gammaxon.io/api/runs/{{ $json.run }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        0
      ],
      "id": "3cc63bf9-a1f6-4bb7-8016-2a28cdc76fd7",
      "name": "Get Runner Status (HTTP Request)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GaGG53OukWPdx2Cq",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02635c44-5b11-425f-ba72-d81ab74f5291",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        0
      ],
      "id": "af6b01b8-f639-4d0c-a808-ad1dce49ebc7",
      "name": "Complete (If)"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "target_ip"
            },
            {
              "name": "title"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "id": "07edeadd-8e03-483a-8b66-2fef30320772",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        128
      ],
      "id": "24ed0802-cbdc-4c96-9461-e58f7ee3d61f",
      "name": "10 seconds (Wait)",
      "webhookId": "cd191c67-c0a1-4d57-924a-d93d5a2d0588"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3eb8b843-4535-469a-b19d-5ff829de5b41",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "169c57c8-cb6d-49e7-8fac-8c9a01c4b5a1",
              "name": "stdout",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "f0f56515-1990-4910-84cf-70b6afc46a37",
              "name": "run_id",
              "value": "={{ $json.run }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        -96
      ],
      "id": "4165e22c-5641-4281-adf7-3bb20e087642",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "target_ip": "209.38.116.233",
          "title": "Top Open TCP Ports"
        }
      }
    ]
  },
  "connections": {
    "List Runners (HTTP Request)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get Runner Inputs (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Runner Inputs (HTTP Request)": {
      "main": [
        [
          {
            "node": "Run The Runner (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run The Runner (HTTP Request)": {
      "main": [
        [
          {
            "node": "Get Runner Status (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Runner Status (HTTP Request)": {
      "main": [
        [
          {
            "node": "Complete (If)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete (If)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10 seconds (Wait)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List Runners (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 seconds (Wait)": {
      "main": [
        [
          {
            "node": "Get Runner Status (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bde761d1-c49b-43f0-beba-e99087eeb5b8",
  "meta": {
    "instanceId": "ccdb90389a30f151fb2b7521a01acf6b40289211855822981eacc24ed27a8f35"
  },
  "id": "wmomB9xNZVsku3VE",
  "tags": []
}